// To start watching file, run:
// sass --watch ____.scss:_____.css

// brand colors
$charcoal: #323232;
$red: #D64541;
$offwhite: #F7FAFE;
$seafoam: #A2DED0;




// Navbar
nav.navbar-inverse {
  background-color: rgba(34, 34, 34, 0.6);
  border: none;
}




// Header
.jumbotron {
  background-color: $charcoal;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: $offwhite;
  margin-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 170px;
  padding-top: 170px;
}




// Main
#mission {
  background-color: $charcoal;
  color: $offwhite;
  font-family: 'Raleway', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.2em;
}

#features {
  background-color: $seafoam;
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}





// footer
footer {
  background-color: $red;
  color: $offwhite;
  padding: 20px 0 10px;

  a {
  color: $offwhite;
  margin-left: 20px;
  }
    &:hover {
      color:#ccc;
      text-decoration: none;
    }
}

footer a:hover {
  color: #ccc;
  text-decoration: none;
}

@media only screen and (max-width: 465px) {
  footer a {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 372px) {
  footer a {
    margin: 0;
  }
  footer {
    font-size: 10px;
  }
}